<head>
  <meta charset="UTF-8" />
  <title>App de Productos</title>

  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/materia/bootstrap.min.css"
  />

  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous"
  />
</head>
<body>
  <div class="col-md-4 mx-auto">
    <div class="card text-center">
      <div class="card-header">
        <h3>Lista de Productos</h3>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-dark">
            <tr style="color: yellow;">
              <th>Nombre</th>
              <th>Precio</th>
              <th>Foto</th>
            </tr>
            {{#if prod}}
              {{#each prod}}
                <tr>
                  <td>{{this.name}}</td>
                  <td>{{this.price}}</td>
                  <td><IMG SRC="{{this.thumbnail}}"ALIGN=MIDDLE WIDTH=192 HEIGHT=92 ALT="AQUI VA UNA IMAGEN"></td>
                </tr>
              {{/each}}
            {{else}}
              <h2>No hay productos</h2>
            {{/if}}
          </table>
        </div>

      </div>
    </div>
  </div>
</body>